git+https://github.com/abseil/abseil-py.git#egg=absl-py
git+https://github.com/greg-hellings/appnope.git#egg=appnope
git+https://github.com/grantjenks/python-asttokens.git#egg=asttokens
git+https://github.com/ipython/ipython.git#egg=ipython
git+https://github.com/nltk/nltk.git#egg=nltk
git+https://github.com/matplotlib/matplotlib.git#egg=matplotlib
git+https://github.com/numpy/numpy.git#egg=numpy
git+https://github.com/pandas-dev/pandas.git#egg=pandas
git+https://github.com/psf/requests.git#egg=requests
git+https://github.com/scikit-learn/scikit-learn.git#egg=scikit-learn
git+https://github.com/scipy/scipy.git#egg=scipy
git+https://github.com/tensorflow/tensorflow.git#egg=tensorflow
git+https://github.com/pytorch/pytorch.git#egg=torch
git+https://github.com/pytorch/vision.git#egg=torchvision
git+https://github.com/huggingface/transformers.git#egg=transformers
